start/.gradle/5.1.1/gc.properties
start/.gradle/5.1.1/executionHistory/executionHistory.bin
start/.gradle/5.1.1/executionHistory/executionHistory.lock
start/.gradle/5.1.1/fileChanges/last-build.bin
start/.gradle/5.1.1/fileHashes/fileHashes.bin
start/.gradle/5.1.1/fileHashes/fileHashes.lock
start/.gradle/5.4.1/gc.properties
start/.gradle/5.4.1/executionHistory/executionHistory.bin
start/.gradle/5.4.1/executionHistory/executionHistory.lock
start/.gradle/5.4.1/fileChanges/last-build.bin
start/.gradle/5.4.1/fileContent/fileContent.lock
start/.gradle/5.4.1/fileHashes/fileHashes.bin
start/.gradle/5.4.1/fileHashes/fileHashes.lock
start/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
start/.gradle/5.4.1/javaCompile/classAnalysis.bin
start/.gradle/5.4.1/javaCompile/jarAnalysis.bin
start/.gradle/5.4.1/javaCompile/javaCompile.lock
start/.gradle/5.4.1/javaCompile/taskHistory.bin
start/.gradle/buildOutputCleanup/buildOutputCleanup.lock
start/.gradle/buildOutputCleanup/cache.properties
start/.gradle/buildOutputCleanup/outputFiles.bin
start/.gradle/vcs-1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.4/checksums/checksums.lock
/.gradle/checksums/checksums.lock
/.gradle/config.properties
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/6.1.1/fileHashes/fileHashes.lock
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/6.1.1/gc.properties
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/6.1.1/fileChanges/last-build.bin
/.gradle/8.4/fileChanges/last-build.bin
/local.properties
/.gradle/8.4/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.gradle/8.4/checksums/sha1-checksums.bin
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/.gitignore
